#box-1, #box-2 {
    h2 {
        color: black;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    p {
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: underline;
    }
}